.message-list {
  margin: 10px;
}

.message-list .message-item {
  position: relative;
  margin-top: 10px;
  padding: 10px;
  color: white;
  background: #808;
  border-radius: 10px;
  min-height: 1em;
}

.message-list .message-item p {
  margin: 0;
  padding: 0;
  max-width: 80%;
  word-wrap: break-word;
}

.message-list .message-item .message-time {
  position: absolute;
  right: 10px;
  top: 10px;
  color: grey;
}